@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-image: url(bootstrap/img/fundo-branco-tecnologia_23-2148403783.avif);
    background-color: #f8f9fa; 
    color: #333; 
    font-family: 'Roboto', sans-serif; 
    font-size: 18px; 
    line-height: 1.6; 
    text-align: center; 
}

.navbar-brand {
    color: #302e2e; 
    font-size: 1.5rem; 
}

.nav-link {
    color: #1d1c1c !important; /* Links brancos na navbar */
    font-size: 1.1rem; /* Tamanho da fonte maior */
}

.nav-link:hover {
    color: #cce5ff !important; /* Cor de hover dos links */
}

/* Conteúdo Principal */
.container {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center; /* Centralizar o texto da container */
}

/* Títulos */
h2 {
    color: #007bff; /* Azul dos títulos */
    margin-bottom: 30px;
    font-size: 2rem; /* Tamanho da fonte maior */
}

/* Formulário */
.form-label {
    color: #007bff; /* Azul para labels do formulário */
    font-size: 1.1rem; /* Tamanho da fonte maior */
}

.form-control {
    border-color: #007bff; /* Bordas do formulário em azul */
    font-size: 1rem; /* Tamanho da fonte */
    text-align: center; /* Centralizar o texto nos campos do formulário */
}

.form-control:focus {
    border-color: #0056b3; /* Azul mais escuro ao focar */
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25); /* Sombra azul ao focar */
}

.btn-primary {
    background-color: #007bff; /* Azul do botão */
    border-color: #007bff; /* Bordas do botão em azul */
    font-size: 1.1rem; /* Tamanho da fonte maior */
}

.btn-primary:hover {
    background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
    border-color: #004080; /* Azul mais escuro nas bordas ao passar o mouse */
}

/* Mapa */
.map-container {
    margin-top: 30px;
    border-radius: 8px; /* Bordas arredondadas no mapa */
    overflow: hidden;
}

.map-container iframe {
    border: none; /* Remover borda do iframe */
    border-radius: 8px; /* Bordas arredondadas no mapa */
}

/* Rodapé (Opcional) */
.footer {
    background-color: #007bff; /* Azul do rodapé */
    color: #ffffff; /* Texto branco no rodapé */
    padding: 20px;
    text-align: center; /* Centralizar o texto no rodapé */
}
